$main_bg: #000000;
$green: #00a218;
$purple: #8001ff;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 10px;
}

body {
  @include flex();
  background-color: $main_bg;
  color: $green;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  @include flex();
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 5;
  padding: 1rem;
}

video {
  max-width: 100%;
  height: auto;
}

img {
  position: absolute;
  top: 25vh;
  left: calc(50vw - 100px);
  max-width: 200px;
  height: auto;
  transform: rotate(120deg);
  margin-left: 15px;
}

button {
  background-color: $main_bg;
  color: $purple;
  border: 1px solid $purple;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2em;
}
