$main_bg: #000000;
$green: #00a218;
$purple: #8001ff;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 10px;
}

body {
  @include flex();
  background-color: $main_bg;
  background-image: url('./assets/RAVERZbackground.png');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: 0, 10px;
  color: $purple;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  @include flex();
  justify-content: space-between;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 5;
  padding: 1.5rem;
}

video {
  max-width: 100%;
  height: auto;
}

button {
  background-color: $main_bg;
  color: $purple;
  border: 1px solid $purple;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2em;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  // border: 1px solid $purple;
}

#address {
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 200px;
  font-size: 2em;
}

#user-info {
  @include flex();
  width: 200px;
}
